<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>List.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0CA5BEEA1EBA49DC004D2D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA5BF011EBA49DC004D2D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0CA5BF0C1EBA49DC004D2D26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
